# Bytecode and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
backend/venv

# Django database (if using SQLite)
db.sqlite3

# Next.js and frontend dependencies
.next/

# Environment variables
.env
backend/.env

# Environment variables
.env