asgiref
Django
django-cors-headers
django-environ
djangorestframework
djangorestframework_simplejwt
iniconfig
packaging
pluggy
psycopg2
PyJWT
pytest
python-dotenv
sqlparse
django-behave
selenium
webdriver-manager