asgiref
attrs
behave
certifi
charset-normalizer
Django
django-behave
django-cors-headers
django-environ
django-extensions
djangorestframework
djangorestframework_simplejwt
h11
idna
iniconfig
outcome
packaging
parse
parse_type
pluggy
psycopg2-binary
PyJWT
PySocks
pytest
pytest-django
python-dotenv
requests
selenium
six
sniffio
sortedcontainers
sqlparse
trio
trio-websocket
typing_extensions
urllib3
webdriver-manager
websocket-client
wsproto
