.header {
    width: 100%;
    max-width: 64rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 50px;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
    color: #3b82f6; /* indigo-600 */
}
